@{
  Layout = "_Layout";
}

@using System.Security.Claims
@model Library.Models.Book;

<h3>Checkout Book</h3>
<hr />
<h4>@Html.DisplayFor(model => model.Title)</h4>
<p>Are you sure you want check this book out?</p>
@using (Html.BeginForm())
{
  <input type="submit" value="Create" class="btn btn-danger" />
}

<p>@Html.ActionLink("Back to Patron Page", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
