@*@{
  Layout = "_Layout";
}*@

@using Library.Models;
@model IEnumerable<Library.Models.Patron>

<h1>@User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Patron patron in Model)
    {
      <li>@Html.ActionLink($"{patron.Name}", "Details", new { id = patron.PatronId })</li>
    }
  </ul>
} 
else
{
  <h3>No patrons have been added yet!</h3>
}

<p>@Html.ActionLink("Add new patron", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>